/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.card-link {
    display: block; 
    text-decoration: none; 
    color: inherit; 
    border-radius: 20px; 
    padding: 100px; 
    background-color: #ffffff;
}

.line {
    height: 1.5em;
  } 

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 61.09px;
    height: 19px;
    top: 30px;
    left: 50px;
}

nav ul {
    list-style: none;
    display: flex; 
    justify-content: flex-end
}

nav ul li {
    margin-left: 20px;
    position: relative;
    color: black;
}

nav ul li a:before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: blue;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.barre {
    display: none;
}

.titre-container {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;
}

h1 {
    font-size: 26px;
    height: 26px;
    margin: 0;
}

.sous-titre {
    margin-top: 5px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .search-icon {
    background-color: #f0f0f0; 
    color: black; 
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    padding: 8px;
    font-size: 16px;
    width: 20px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .searching-icon {
    font-size: 0;
  }
  
  input[type="text"] {
    padding: 9px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
  }

.search-button {
    background-color: blue; 
    color: white; 
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
    padding: 8px 16px;
    border: none; 
    cursor: pointer;
    font-size: 20px;
  }

.filters {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.filter-buttons {
    margin-left: 10px;
}

.custom-button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    padding: 12px 24px;
    border: 2px solid #cccccc;
    cursor: pointer;
    border-radius: 20px;
}

.custom-button:hover {
    background-color: #6495ed; 
}

.custom-button i {
    margin-right: 10px;
    color: #0000ff;
}

.info-container {
    display: flex;
    align-items: center;
}

.icon-container {
    width: 20px;
    height: 20px;
    border: 2px solid #cccccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container i {
    color: blue;
    font-size: 10px;
}

.info-text {
    margin-left: 10px;
}


.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: calc(33.33% - 20px); 
}

.hebergements-cards img {
    width: 100%;
    height: 124px; 
    object-fit: cover; 
    border-radius: 20px; 
}

.hebergements-cards .card-content {
    padding: 15px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.afficher-plus {
    margin-top: 40px;
    font-weight: bold;
}

.activites-cards {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
}

.activite-card {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    text-decoration: none;
    flex-grow: 1;
    border: 1px solid white; 
    border-radius: 20px; 
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.activites {
    width: 100%;
    height: auto;
    padding: 30px 0px 0px 0px; 
}

.activite-card img {
    width: 100%;
    height: 380px;   
}

.activite-card h3 {
    margin-top: 10px;
    margin-left: 20px;
}

footer {
    background-color: #f4f4f4;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    width: 30%;
    padding-left: 20px
}

.footer-column h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
    color: #666;
}

.footer-column ul li:hover {
    color: #000;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .line {
         height: 0em;
    }

    header {
        flex-direction: column; 
        align-items: center; 
        width: 100%;
        margin-top: 15px;
    }

    .main-container{
        padding: 0%;
    }

    .logo {
        margin-bottom: 20px; 
    }

    nav {
        width: 100%; 
        font-size: 19px
    }

    nav ul {
        justify-content: space-evenly; 
        padding: 0;
    }

    nav ul + ul {
        margin-left: 20px; 
    }

     nav ul li a:before {
        display: none; 
    }

    .barre {
        display: block;
        height: 3px;
        width: 100%;
        background-color: #ccc;
        position: relative;
    }
    
    .barre::before, .barre::after {
        content: '';
        height: 100%;
        width: 50%; 
        position: absolute;
        top: 0;
    }
    
    .barre::before {
        left: 0; 
    }
    
    .barre::after {
        right: 0; 
    }
    
    /* Styles de base pour les boutons */
    .nav1 {
        color: black;
    }
    
    .nav2 {
        color: black;
    }
    
    /* Styles lorsque le bouton est actif */
    .nav1.active {
        color: #0065FC;
    }
    
    .nav2.active {
        color: #0065FC;
    }
    
    /* Styles pour la barre lorsque le bouton Hébergements est actif */
    .nav1.active ~ .barre::before {
        background-color: #0065FC;
    }
    
    .nav1.active ~ .barre::after {
        background-color: #ccc; 
    }
    
    /* Styles pour la barre lorsque le bouton Activités est actif */
    .nav2.active ~ .barre::before {
        background-color: #ccc; 
    }
    
    .nav2.active ~ .barre::after {
        background-color: #0065FC;
    }

    .titre-container {
        margin-bottom: 40px; 
    }

    h1{
        font-size: 19px;
        margin-bottom: 35px;
    }

    .sous-titre {
        font-size: 14px;
    }

    .search-container{
        justify-content: center;
    }

    .search-button {
        padding: 8px; 
    }

    .search-button span.searching-icon {
        display: inline-block; 
    }

    .search-button span.searching-icon i {
        font-size: 23px; 
    }
    

    .search-button {
        border-top-left-radius: 10px; 
        border-bottom-left-radius: 10px; 
        border: 1px solid #ccc; 
        margin-left: -6px;
        font-size: 0; 
    }

    .filters {
        display: flex;
        flex-wrap: wrap;
    }

    .custom-button {
        margin: 5px;
        font-size: 13px;
    }

    .custom-button span {
        font-size: 90%;
    }
    

    .populaires {
        width: 100%;
        margin-top: 50px;
        order: 1;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .hebergements {
        width: 100%;
        order: 2;
    }

    .hebergements-cards .card {
        width: 100%; 
    }

    .activites-cards {
        display: flex;
        flex-direction: column;
        
    }
    .activite-card {
        width: 100%;  
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-column {
        width: 100%; 
        margin-bottom: 20px;
        margin-left: 30px;
    }

}